<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= label_tag :name, "Nome" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group field">
    <%= label_tag :email, "E-mail" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group field">
    <%= label_tag :twitter %>
    <%= f.text_field :twitter, class: "form-control" %>
  </div>
  <div class="form-group field">
    <%= label_tag :mobile_phone, "Celular" %>
    <%= f.text_field :mobile_phone, class: "form-control" %>
  </div>
  <div class="form-group field">
    <%= label_tag :position_id, "Cargo" %>
    <%= f.select :position_id, Position.all.collect { |p| [p.name, p.id] },
          {}, class: "form-control" %>
  </div>
  <div class="form-group field">
    <%= label_tag :tool, "Qual ferramenta você utiliza para organizar e acompanhar suas vendas?" %>
    <%= f.select :tool, Lead::TOOLS,
          {}, class: "form-control", id: 'sb-tool' %>
  </div>
  <div class="form-group field" id="other-tool">
    <!-- <%= label_tag :tool, "Se respondeu outro, por favor escrever o nome:" %>
    <%= text_field_tag 'lead[tool]', nil, class: "form-control" %> -->
  </div>
  <div class="form-group field">
    <%= label_tag :team_size, "Tamanho da sua Equipe Comercial" %>
    <%= f.select :team_size, Lead::TEAM_SIZES,
          { include_blank: true }, class: "form-control" %>
  </div>

  <div class="actions">
    <%= submit_tag "Concorrer ao iPhone", class: 'btn btn-primary btn-lg btn-full' %>
  </div>
<% end %>
