<h1>Leads</h1>

<table class="table-leads">
  <thead class="thead-leads">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Company</th>
      <th>Mobile phone</th>
      <th>Tool</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody class="tbody-leads">
    <% @leads.each do |lead| %>
      <tr>
        <td><%= link_to lead.name, lead %></td>
        <td><%= lead.email %></td>
        <td><%= lead.company %></td>
        <td><%= lead.mobile_phone %></td>
        <td><%= lead.tool %></td>
        <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
        <td>
          <%= link_to 'Destroy', lead, method: :delete,
            data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lead', new_lead_path %>
