<p>
  <strong>Name:</strong>
  <%= @lead.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lead.email %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @lead.mobile_phone %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @lead.twitter %>
</p>

<p>
  <strong>Position:</strong>
  <%= @lead.position.try(:name) %>
</p>

<p>
  <strong>Tool:</strong>
  <%= @lead.tool %>
</p>

<p>
  <strong>Team size:</strong>
  <%= @lead.team_size %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
