<!DOCTYPE html>
<html>
<head>
  <title>Wasabi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navigation' %>

  <div class="container">
    <div class="row">

      <div id="page-content" class="col-xs-12">
        <%= render 'shared/signal' %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
