<!DOCTYPE html>
<html>
<head>
  <title>Wasabi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">

      <!-- If using a side bar, change col-xs-12 to col-xs-9 -->
      <div id="page-content" class="col-xs-12">
        <% if notice %>
        <div class="alert alert-info">
          <p class="notice"><%= notice %></p>
        </div>
        <% end %>
        <% if alert %>
        <div class="alert alert-warning">
          <p class="alert"><%= alert %></p>
        </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
